name: MF-Kahve Composer App Deploy

on:
  push:
    branches:
      - main
#    paths:
#      - "apps/composer/**"

jobs:
  deploy:
    runs-on: ubuntu-20.04
    strategy:
      matrix:
        node-version: [20.5.0]
    steps:
    - uses: actions/checkout@v3
    - uses: pnpm/action-setup@v2
      with:
        version: 8
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
        cache: 'pnpm'
        
    - name: Build
      run: |
        pnpm install --frozen-lockfile -r
        cd apps/composer
        pnpm run build
      
